.message{
    display: flex;
    align-items: center;
    padding: 20px;
}

.message > img{
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 10px;
}
.date{
    color: gray;
    font-weight: 300;
    font-size: 13px;
}